$message-main-color: #e8aa0e;
$message-text-color: #fff;
$border-color: #dddddd;
$message-window-height: 165px;

.chat {

    border: 1px solid $border-color;
    width: 375px;
    padding: 5px;
    display: inline;

    &Messages {
        min-height: $message-window-height;
        max-height: $message-window-height;
        overflow-y: auto;
        margin-bottom: 5px;

        &List {

            list-style: none;

            margin: 0;
            padding: 0;

            li {
                position: relative;
                display: block;
                margin-bottom: .25rem;
                padding: .325rem .825rem .325rem 1.325rem;
                color: $message-text-color;
                background: $message-main-color;

                &:last-child {
                    margin-bottom: 0;
                }

                &:nth-child(2n) {
                    background: scale-color($message-main-color, $lightness: +15%);
                    text-align: right;

                    &::before {
                        background: scale-color($message-main-color, $lightness: +50%);
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 0.5rem;
                    background: scale-color($message-main-color, $lightness: +15%);
                }
            }
        }
    }

    &Form {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}